@import "./custom";
#root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .big-container {
        flex-shrink: 1;
        flex-basis: 100%;
        max-width: rem(900);
        background-color: $white;
        padding: rem(20);
        border-radius: rem(30);
        margin: rem(90) 15px;
        display: flex;

        main {
            flex: 1;
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            > * {
                max-width: rem(500);
                width: 100%;
                flex-grow: 1;
            }
        }
        .sidebar {
            flex-shrink: 0;
            flex-grow: 0;
        }
    }
    @include media-breakpoint-down($mobile-phase) {
        align-items: flex-start;
        .big-container {
            border-radius: rem(10);
        }
    }
}
.submit-section {
    margin-bottom: 1em;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    @include media-breakpoint-up($mobile-phase){
        padding-top: rem(50);
    }
    a {
        text-decoration: none;
        color: $Cool-gray;
        &:hover {
            color: $secondary;
        }
    }
    @include media-breakpoint-down($mobile-phase){
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $white;
        padding: rem(15) rem(20);
        margin: 0;
    }
}
